<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/dashboards.css')}}" rel="stylesheet">
    <script type=text/javascript src="{{url_for('static', filename='js/nav.js') }}"></script>
    <title>Admin Panel</title>
</head>
<body>
    <div id="mySidenav" class="side-menu">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="brand-name" ><h1 style="color:white;">Video Based Monitoring</h1></div>
        <ul>
            <li><a href="{{ url_for('home') }}"><img src="dashboard.png" alt="">Dashboard</a></li>
            <!-- <li><img src="dashboard.png" alt="">Dashboard</li> -->
            <li><a href="{{ url_for('new') }}">New Registration</a></li>                
            <li><a href="{{ url_for('school') }}">Total Users</a></li>
            <li><a href="{{ url_for('totalvoilation') }}">Total Violations</a></li>
            <li><a>Update User Details</a></li>
            <li><a  href="{{ url_for('delete') }}">Delete User</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>

    <div id="main" class="container">        
        <div class="header">
            <!-- <div class="nav"> -->
            <center style="padding-top:8px ;"><h1>Admin Panel</h1></center>

            <div class="right">                                   
                <button type="logout">Log Out</button>
            </div>

            <span style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776; Menu</span>
            <center><img style="padding:5px 5px;background: black;" src="{{ url_for('video_feed') }}"></center>
            <div class="content">
                <div class="cards">
                    <div class="card">
                        <div class="box"><br><br>
                            <h2 id="h2">Total Registrations</h2><br><br>
                            <h1>200</h1>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box"><br><br>
                            <h2 id="h2">Recent Violations</h2><br><br>
                            <h1>2</h1>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box"><br><br>
                            <h2 id="h2">Total <br>Violations</h2><br><br>
                            <h1>20</h1>
                        </div>
                    </div>
                </div>
                <div id="tb1" class="content-2">
                    <div class="recent-violations">
                        <div class="title">
                            <h1>Recent Violation</h1>
                        </div>
                        <center>
                            <br>
                            <!-- <form id="entryExitTable" method="POST" action="/">     -->
                            <table style="border: #999; border-width:5px; border-style:solid;">
                                <tr>
                                    <th>Entry ID</th>
                                    <th>Employee ID</th>
                                    <th>Entry Date</th>
                                    <th>Entry Time</th>
                                    <th>Exit Date</th>
                                    <th>Exit Time</th> 

                                </tr>
                                <tr>
                                    <td>000000</td>
                                    <td>xxxxxx</td>
                                    <td>2022-05-04</td>
                                    <td>0:30:00</td>
                                    <td>2022-05-04</td>
                                    <td>0:45:00</td>
                                </tr>
                                {% for item in items %}
                                <tr>
                                    <td>{{item[0]}}</td>
                                    <td>{{item[1]}}</td>
                                    <td>{{item[2]}}</td>
                                    <td>{{item[3]}}</td>
                                    <td>{{item[4]}}</td>
                                    <td>{{item[5]}}</td>
                                </tr>
                                {% endfor %}
                                    
                            </table>
                            <!-- </form> -->
                        </center>
                    </div>
                </div>
                <!-- </div> -->               
            </div>
        </div>
    </div>
</body>
</html>