<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type=text/javascript src="{{url_for('static', filename='js/nav.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboards.css')}}">
    <title>Admin Panel</title>
    <style>
        .side-menu .brand-name{
    height: 25vh;
        }
    </style>
</head>
<body>
    <script>
        document.body.style.backgroundColor = "rgba(0,0,0,0.1)";
    </script>
    <div id="mySidenav" class="side-menu">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="brand-name" ><h1 style="color:white;">Video Based Monitoring</h1></div>
        <ul>
            <li><a href="{{ url_for('home') }}"><img src="dashboard.png" alt="">Dashboard</a></li>
            <!-- <li><img src="dashboard.png" alt="">Dashboard</li> -->
            <li><a href="{{ url_for('new') }}">New Registration</a></li>                
            <li><a href="{{ url_for('school') }}">Total Users</a></li>
            <li><a href="{{ url_for('totalvoilation') }}">Total Violations</a></li>
            <li><a href="{{ url_for('update') }}">Update User Details</a></li>
            <li style="background : rgb(195, 144, 144);"><a  href="{{ url_for('delete') }}">Delete User</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>

    <div id="main" class="container">
        <div class="header">
            
            <!-- <div class="nav"> -->
            <center style="padding-top:8px ;"><h1>Admin Panel</h1></center>

            <div class="right">                                   
                <button type="logout">Log Out</button>
            </div>
            <span style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776; Menu</span>            
            <div class="nav">
                <div class="search">
                    <input type="text" placeholder="Search..">
                    <button type="submit"><img src="search.png" alt=""></button>
                </div>
            </div>
            <center style="margin-top: 100px;">
                <div class="new-content">
                    <h2>Delete User</h2><br><br>
        
                    <form id="deleteForm" method="POST" action="/delete">
                            <label for="delId">Enter ID:</label>
                            <input type="text" id="delId" name="delId" value="123456" required><br><br>
                            <input type="submit" value="Submit">
                    </form> 
                </div>
            </center>
        </div>
    </div>
</body>
</html>